footer{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border-top: $box_line;
    background: $box_bg;
    font-size: .8em;
    align-self: flex-end;
    margin-top: 35px;

    .content{
        @include flexbox(row, wrap, space-between, center);
    }

    .backtotop{
        @extend a;

        &:hover{
            cursor: pointer;
        }
    }

    span.backtotop{
        transition: .0s all;
        color: $chau_dark_yellow;
    }

    span.backtotop:hover {
        color: $chau_bright_yellow;
    }
}
